@import '../../../styles/variable';

.about-container {
    background-color: $primary-color;
    box-sizing: border-box;
    text-align: center;

    .text-content {
        flex: 1; 
        padding: 20px; 

        h2 {
            font-size: 2rem;
            line-height: 3rem;
        }

        p {
            padding: 0% 8%;
            line-height: 24px;
        }
      }
      .widget {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        
        .widget-wrapper {
            display: flex;
    
            .widget-element {
                padding: 24px;

                .widget-element__count {
                    font-size: 40px;
                    font-weight: 700;
                    box-sizing: border-box;
                    font-family: "Gilroy", sans-serif;
                    color: $widget-element-color;
                    display: flex;
                  }
        
                .widget-element__title {
                    font-weight: 400;
                }
            }

            .widget-divider {
                border-left: 2px solid $vertical-divider ; /* Line width and color */
                margin: 0 20px;
              }
          }
      }

    .user-stories {
      background-color: $white;
      padding: 2rem;
      .card {
        border: 1px solid lightgray;
        background-color: $primary-color;
        width: 300px;
        margin: auto;
        border-radius: 16px;
      }
    }
    
    .footer-content{
      margin: 25px 0px;
      border-top: 1px solid $vertical-divider;

      p {
        font-weight: 600;
      }

      .download-button {
        background-color: #000;
        color: #fff;
        margin-right: 2%;
        padding: 12px;
        border-radius: 8px;

        span {
          margin-left: 8px;
        }
      }

      .download-button:hover {
        cursor: pointer;
      }
    }

    .contact-section{
        background-color: rgb(2, 6, 12);
        color: $white;
        display: flex;
        text-align: left;
        gap: 3rem;
        font-size: 13px;
        justify-content: space-evenly;
        flex-wrap: wrap;
        padding: 16px;

        .contact__address {
            width: 20%;

            .logo {
                font-family: "Playwrite US Modern", cursive;
                font-optical-sizing: auto;
                font-weight: 700;
                font-style: normal;
            }
        }

        h5 {
            margin: 0px;
            font-size: 16px;
        }
        ul{
            list-style: none;
            padding: 0px;
        }

        .social-icon__wrapper{
            display: flex;
            gap: 10px;
            margin-top: 1rem
        }
    }
}

h2 {
    font-size: 2em;
    font-weight: bold;
    animation: caret 0.75s steps(1) infinite;
    word-break: break-word;
  }
  
  @keyframes caret {
    50% {
      border-color: transparent;
    }
  }
