// Color Variables
$primary-color: #f8f9fa;
$secondary-color: #ccc;
$widget-element-color: #1ba672;
$vertical-divider: #bfbfbf;
$white: #fff;
$black: #000;

$product-banner: #3e4152;
$product-price: #282c3f;
$product-strike: #7e818c;
$product-discount: #ff905a;
$product-leftover: #ff5722;
$product-type: #535766;