@import '../../../styles/variable';

.product-container {
    background-color: $primary-color;
    box-sizing: border-box;
    text-align: center;
    padding: 2rem;

    .product-element {
        display: flex;
        gap: 1.5rem;
       
        .left__pane {
            width: 20%;
            background-color: $white;
        }
    
        .right_pane {
            width: 100%;
            background-color: $white;

            .product-card__container {
                width: 100%;

                .card {
                    color: $black;
                    background-color: $white;
                    border-radius: 10px;
                    /* padding: 150px 60px; */
                    width: 210px;
                    margin: 0 10px 30px;
                    vertical-align: top;
                    overflow: hidden;
                    display: inline-block;
                    
                    .product-price {
                        line-height: 32px;
                        color: $product-price;
                        white-space: nowrap;
                    
                        .product-strike {
                            text-decoration: line-through;
                            color: $product-strike;
                            font-weight: 400;
                            margin-left: 5px;
                            font-size: 12px;
                        }
                    
                        .product-discountedPrice {
                            font-size: 14px;
                            font-weight: 700;
                            color: $product-price;
                        }
                    
                        .product-discountPercentage {
                            color: $product-discount;
                            font-weight: 400;
                            font-size: 12px;
                            margin-left: 5px;
                        }
                    
                    }

                    .product-leftOver {
                        color: $product-leftover;
                        font-size: 14px;
                        font-weight: 700;
                    }
                    
                    .product-type {
                        color: $product-type;
                        font-size: 14px;
                        line-height: 1;
                        margin-bottom: 0;
                        margin-top: 0;
                        font-weight: 400;
                    }
                    
                    .product-brand {
                        margin: 8px 0px;
                    }
                    .product-rating {
                        z-index: 1;
                        position: absolute;
                        margin-left: 10px;
                        margin-top: 250px;
                        font-size: 12px;
                        font-weight: 700;
                        display: flex;
                        border-radius: 9px;
                        padding: 0 4px;
                        background-color: hsla(0, 0%, 100%, .8);
                        gap:3px;
                    
                        span {
                            padding: 2px 0px;
                        }
                    }
        
                    .product__image {
                        width: 100%;
                    }
                }
            }
        }
    }

    .product-banner {
        text-transform: uppercase;
        color: $product-banner;
        letter-spacing: .15em;
        font-size: 1.3em;
        margin: 10px 0 32px 30px;
        max-height: 5em;
        font-weight: 700;
        text-align: justify;
    }
}



.card:hover {
    border: 1px solid $vertical-divider;
    cursor: pointer;
}


i {
  color: $widget-element-color;
}

@media (max-width: 768px) {
    .left__pane{
        width: 100% !important;
    }

    .product-element {
        flex-wrap: wrap;
    }
}