<div class="product-contianer">
    <h3 class="product-banner"> Biggest Deals on top brands
        <!-- <i class="fa-solid fa-fire" style="color: lightsalmon;"></i> -->
    </h3>
    <div style="display: flex; gap: 1.5rem;">
        <div class="left__pane" style="width: 20%;background-color: #fff;">
            <h3>Filters</h3>
            <app-filter (filterChanged)="applyFilters($event)"></app-filter>
        </div>
        <div class="right_pane" style="width: 100%;background-color: #fff;">
            <app-sort [data]="productList" (sortedData)="updateSortedData($event)"></app-sort>
            <div class="product-card__container">
                <div class="card product-card__wrapper" *ngFor="let product of filteredAndSortedProducts">
                    <div class="product-card__body">
                        <div class="product-rating">
                            <span>{{product.userRating}}</span>
                            <span><i class="fa-solid fa-star"></i></span>
                            <span>|</span>
                            <span>{{product.ratingCount}}</span>
                        </div>
                        <div class="product-card__image">
                            <img [src]="product.img" class="product__image">
                        </div>

                    </div>
                    <div class="product-MetaInfo">
                        <h3 class="product-brand">{{product.brandName}}</h3>
                        <h4 class="product-type">{{product.type}}</h4>
                        <div class="product-price">
                            <span>
                                <span class="product-discountedPrice">Rs.{{product.discountedPrice}}</span>
                                <span class="product-strike">Rs.{{product.originalPrice}}</span>
                            </span>
                            <span class="product-discountPercentage">({{product.percentage}}% OFF)</span>
                        </div>
                        <div class="product-leftOver">{{product.leftover}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>